### Forward Selection

In [1]:
# importing the libraries
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
# reading the file
data = pd.read_csv('../../Data/f_churn.csv')

# first 5 rows of the data
data.head()

,Unnamed: 0,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender
0,0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1
1,1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1
2,2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1
3,3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1
4,4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1

In [3]:
data = data.drop(['Unnamed: 0'] , axis = 1)

In [4]:
#shape of the data
data.shape

(10000, 13)

In [5]:
# checking missing values in the data
data.isnull().sum()

CreditScore          0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
Gender               0
dtype: int64

In [6]:
# creating the features and target
X = data.drop(['Exited'], axis=1)
y = data['Exited']

In [7]:
X.shape, y.shape

((10000, 12), (10000,))

In [8]:
# !pip install mlxtend

In [9]:
# importing the models
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.ensemble import RandomForestClassifier

In [10]:
# calling the Random Forest model
rf = RandomForestClassifier()
sfs1 = sfs(rf, k_features=4, forward=True, verbose=2, scoring='accuracy')

In [11]:
sfs1 = sfs1.fit(X, y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:   49.6s finished

[2023-01-25 00:12:20] Features: 1/4 -- score: 0.8196999999999999[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:   45.2s finished

[2023-01-25 00:13:06] Features: 2/4 -- score: 0.8391[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:   38.0s finished

[2023-01-25 00:13:44] Features: 3/4 -- score: 0.8513[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   38.7s finished

[2023-01-25 00:14:23] Features: 4/4 -- score: 0.8539999999999999

In [12]:
feat_names = list(sfs1.k_feature_names_)
print(feat_names)

['Age', 'NumOfProducts', 'IsActiveMember', 'Geography_Germany']

In [13]:
# creating a new dataframe using the above variables and adding the target variable
new_data = data[feat_names]
new_data['Exited'] = data['Exited']

# first five rows of the new data
new_data.head()

   Age  NumOfProducts  IsActiveMember  Geography_Germany  Exited
0   42              1               1                  0       1
1   41              1               1                  0       0
2   42              3               0                  0       1
3   39              2               0                  0       0
4   43              1               1                  0       0

In [14]:
# shape of new and original data
new_data.shape, data.shape

((10000, 5), (10000, 13))