<img src='forward.png' />

In [1]:
# !pip install mlxtend

In [2]:
#importing the libraries
import pandas as pd
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.ensemble import RandomForestClassifier

import warnings
warnings.filterwarnings("ignore")

In [3]:
#reading the file
data = pd.read_csv('../../Data/f_win.csv')

# first 5 rows of the data
data.head()

,Unnamed: 0,venue_code,opp_code,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,pk_rolling,pkatt_rolling,Win
0,0,1,16,15,5,0.000000,3.000000,9.666667,2.333333,14.833333,0.0,0.0,1
1,1,0,5,15,5,0.333333,2.333333,12.333333,3.000000,14.133333,0.0,0.0,1
2,2,1,19,16,6,0.666667,1.666667,14.666667,3.000000,14.800000,0.0,0.0,1
3,3,0,4,17,5,1.666667,0.333333,18.333333,5.333333,18.433333,0.0,0.0,0
4,4,1,7,20,0,1.333333,0.333333,11.000000,4.000000,19.833333,0.0,0.0,0

In [4]:
X=data.drop('Win',axis=1)
y=data['Win']

In [5]:
data.drop('Unnamed: 0', inplace=True, axis=True)

In [10]:
rf = RandomForestClassifier()
sfs2 = sfs(rf, k_features=3, forward=True, verbose=2, scoring='accuracy')

In [11]:
sfs2 = sfs2.fit(X, y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:    6.4s finished

[2022-12-31 16:40:05] Features: 1/3 -- score: 0.6292150706436421[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:    6.9s finished

[2022-12-31 16:40:12] Features: 2/3 -- score: 0.6271742543171115[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    6.6s finished

[2022-12-31 16:40:19] Features: 3/3 -- score: 0.6200156985871271

In [8]:
feat_names = list(sfs2.k_feature_names_)
print(feat_names)

['venue_code', 'sh_rolling', 'pk_rolling', 'pkatt_rolling']

In [9]:
# creating a new dataframe using the above variables and adding the target variable
new_data = data[feat_names]
new_data['Win'] = data['Win']

# first five rows of the new data
new_data.head()

   venue_code  sh_rolling  pk_rolling  pkatt_rolling  Win
0           1    9.666667         0.0            0.0    1
1           0   12.333333         0.0            0.0    1
2           1   14.666667         0.0            0.0    1
3           0   18.333333         0.0            0.0    0
4           1   11.000000         0.0            0.0    0