### Backward Elimination

In [8]:
# !pip install mlxtend

#importing the libraries
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# importing the models
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.ensemble import RandomForestClassifier

In [9]:
#reading the file
data = pd.read_csv('../../Data/f_churn.csv')

# first 5 rows of the data
data.head()

,Unnamed: 0,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender
0,0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1
1,1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1
2,2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1
3,3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1
4,4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1

In [10]:
#shape of the data
data.shape

(10000, 14)

In [11]:
# checking missing values in the data
data.isnull().sum()

Unnamed: 0           0
CreditScore          0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
Gender               0
dtype: int64

In [12]:
# creating the features and target
X = data.drop(['Exited'], axis=1)
y = data['Exited']

In [13]:
X.shape, y.shape

((10000, 13), (10000,))

In [15]:
# calling the Random Forest model
rf = RandomForestClassifier()
sfs1 = sfs(rf, k_features=4, forward=False, verbose=2, scoring='accuracy')

In [16]:
sfs1 = sfs1.fit(X, y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   11.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  13 out of  13 | elapsed:  2.4min finished

[2022-12-31 17:55:06] Features: 12/4 -- score: 0.8646[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    9.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:  1.9min finished

[2022-12-31 17:57:02] Features: 11/4 -- score: 0.865[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   10.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:  1.8min finished

[2022-12-31 17:58:52] Features: 10/4 -- score: 0.8630000000000001[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   10.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:  1.8min finished

[2022-12-31 18:00:38] Features: 9/4 -- score: 0.8629999999999999[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    9.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:  1.3min finished

[2022-12-31 18:01:58] Features: 8/4 -- score: 0.8628[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    9.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:  1.2min finished

[2022-12-31 18:03:12] Features: 7/4 -- score: 0.8609[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   10.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:  1.1min finished

[2022-12-31 18:04:20] Features: 6/4 -- score: 0.8531000000000001[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    9.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:   53.3s finished

[2022-12-31 18:05:14] Features: 5/4 -- score: 0.8428000000000001[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:   48.9s finished

[2022-12-31 18:06:03] Features: 4/4 -- score: 0.8246

In [17]:
feat_names = list(sfs1.k_feature_names_)
print(feat_names)

['Age', 'Balance', 'NumOfProducts', 'IsActiveMember']

In [18]:
# creating a new dataframe using the above variables and adding the target variable
new_data = data[feat_names]
new_data['Exited'] = data['Exited']

# first five rows of the new data
new_data.head()

   Age    Balance  NumOfProducts  IsActiveMember  Exited
0   42       0.00              1               1       1
1   41   83807.86              1               1       0
2   42  159660.80              3               0       1
3   39       0.00              2               0       0
4   43  125510.82              1               1       0

In [19]:
# shape of new and original data
new_data.shape, data.shape

((10000, 5), (10000, 14))