In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

from sklearn.metrics import classification_report, accuracy_score

In [3]:
data = pd.read_csv('../Data/f_win.csv')

In [4]:
data.head()

,Unnamed: 0,venue_code,opp_code,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,pk_rolling,pkatt_rolling,Win
0,0,1,16,15,5,0.000000,3.000000,9.666667,2.333333,14.833333,0.0,0.0,1
1,1,0,5,15,5,0.333333,2.333333,12.333333,3.000000,14.133333,0.0,0.0,1
2,2,1,19,16,6,0.666667,1.666667,14.666667,3.000000,14.800000,0.0,0.0,1
3,3,0,4,17,5,1.666667,0.333333,18.333333,5.333333,18.433333,0.0,0.0,0
4,4,1,7,20,0,1.333333,0.333333,11.000000,4.000000,19.833333,0.0,0.0,0

In [5]:
data = data.drop(['Unnamed: 0'], axis=1)

In [6]:
X = data.drop('Win', axis=1)
y = data['Win']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [9]:
svm = SVC()

In [10]:
svm.fit(X_train, y_train)

SVC()

In [11]:
y_pred = svm.predict(X_test)

In [12]:
accuracy_score(y_test, y_pred)

0.5755102040816327