In [1]:
#importing the libraries
import numpy as np
import pandas as pd

from sklearn.metrics import classification_report, confusion_matrix, plot_confusion_matrix , accuracy_score

from sklearn.model_selection import train_test_split

from sklearn.svm import SVC

import warnings
warnings.filterwarnings('ignore')

In [2]:
# reading the file
data = pd.read_csv('../../Data/f_churn.csv')

# first 5 rows of the data
data.head()

,Unnamed: 0,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender
0,0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1
1,1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1
2,2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1
3,3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1
4,4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1

In [3]:
#shape of the data
data.shape

(10000, 14)

In [4]:
# checking missing values in the data
data.isnull().sum()

Unnamed: 0           0
CreditScore          0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
Gender               0
dtype: int64

In [5]:
# creating the features and target
X = data.drop(['Exited', 'Unnamed: 0' ], axis=1)
y = data['Exited']

In [6]:
X.shape, y.shape

((10000, 12), (10000,))

In [7]:
# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [8]:
svm = SVC()

In [9]:
svm.fit(X_train, y_train)

SVC()

In [10]:
y_pred = svm.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7975

In [11]:
confusion_matrix(y_test, y_pred)

array([[1595,    0],
       [ 405,    0]], dtype=int64)

In [12]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      1.00      0.89      1595
           1       0.00      0.00      0.00       405

    accuracy                           0.80      2000
   macro avg       0.40      0.50      0.44      2000
weighted avg       0.64      0.80      0.71      2000